/*
 * app.css
 */

body, p {
  font-family: Calibri, sans-serif;
}

h1, h2 {
  font-family: "Courier New", sans-serif;
}

a:link {
  color: red;
}

a:visited {
  color: green;
}

button[type=submit]:hover, input[type=submit]:hover {
  background-color: red;
}

button[type=submit]:focus, input[type=submit]:focus {
  background-color: green;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-roman;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: lightblue;
}
